body{
    align-content: center;
}
.calculator {
    border: 1px solid #eb660e;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  #display {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
  }
  
  button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
  }
  
  .operator {
    background-color: #ccc;
  }
  